<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Coincidence App: user list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <!-- Theme CSS -->
	<link href="../static/css/grayscale.css" th:href="@{css/grayscale.css}" rel="stylesheet" />
    <link href="../static/css/grayscale.min.css" th:href="@{css/grayscale.min.css}" rel="stylesheet" />
    <!-- Override theme -->
    <style>
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	  background-color: #00B4FF;
	}
	</style>
</head>
<body>	
	<h6 th:inline="text" class="text-right">Logged in as [[${#httpServletRequest.remoteUser}]]</h6>
	<nav class="nav pull-right" role="navigation">
	    <ul class="list-inline">
	    <li>
	    	<form th:action="@{/logout}" method="post">
        	<input type="submit" value="Sign Out" class="btn btn-danger"/>
    		</form>
    		</li>
        <li><a href="index" class="btn btn-default">Home</a></li>
        <li><a href="polllist" class="btn btn-default">Polls</a></li>
</ul>
	</nav>
	
	<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4"><h1>Users</h1></div>
	<div class="col-sm-4"></div>
	</div>
	
	
	<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<table class="table table-responsive container table-hover">
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Role</th>
			<th>Enabled</th>
			<th></th>
		</tr>
		<tr th:each="user : ${userlist}">
			<td th:text="${user.username}"></td>
			<td th:text="${user.email}"></td>
			<td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/u/elevate/{id}(id=${user.id})}" class="btn btn-info" th:text="${user.role}"></a></td>
			<td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/u/enable/{id}(id=${user.id})}" class="btn btn-info" th:text="${user.enabled}"></a></td>
			<!-- For some reason database implementation calls Role Authority -->
			<td>
				
				<a sec:authorize="hasAuthority('ADMIN')" th:href="@{/u/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
			</td>
		</tr>
		</table>
		</div>
	<div class="col-sm-4"></div>
	</div>
	
	
</body>
</html>